# Secrets
.env
*.key
*.pem
infra/mosquitto/**/passwd*
firmware/include/config.h

# Python / Node
__pycache__/
*.pyc
.venv/
node_modules/
dist/
.run/

# Modèles lourds
ai/models/*.pt
ai/models/*.onnx

# PlatformIO
.pio/
.vscode/

# OS
.DS_Store
Thumbs.db
pki/
*.csr
*.srl
infra/mosquitto/certs/
infra/mosquitto/data/
infra/mosquitto/log/
**/credentials.h
firmware/include/secrets.h
