PORT=3000
MQTT_URL=mqtts://192.168.41.123:8883
MQTT_USERNAME=backend
MQTT_PASSWORD=
MQTT_TOPIC_PREFIX=sentinel/1
MQTT_SUPERVISION_PREFIX=sentinel/1
MQTT_CA_FILE=./ca.crt
EMBEDDED_BROKER=false
EMBEDDED_BROKER_PORT=1883
DB_PATH=./data/sentinel.db
API_KEY=
OFFLINE_AFTER_MS=10000
